*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hide {
  display: none;  
}

.main-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
}

.container {
  width: 700px;
  height: 300px;
  margin: 0 auto;
  background-color: brown;
}

.slider {
  height: 100%;
  position: relative;
}

.items-Wrapper {
  height: 100%;
  width: 100%;
}

.item {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.btn-arrow {
  position: absolute;
  background-color: rgba(255, 255, 255, .8);
  color: rgb(0, 0, 0);
  width: 20px;
  height: 20px;
  line-height: 22px;
  border-radius: 50%;
  text-align: center;
  left: 50%;
  transform: translate(-50%);
  cursor: pointer;
}

.btn-arrow.top{
  top: 10px;

}

.btn-arrow.bottom{
  bottom: 10px;
}

